################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TenPinBowling.Api/bin/Debug/netcoreapp3.1
/TenPinBowling.Api/obj
/.vs
