################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TenPinBowling.Api/bin/Debug/netcoreapp3.1
/TenPinBowling.Api/obj
/.vs
/TenPinBowling.Tests/bin/Debug/netcoreapp3.1
/TenPinBowling.Tests/obj
/TenPinBowling.Api/TenPinBowling.Api.csproj.user
/TenPinBowling.Common/bin/Debug/netcoreapp3.1
/TenPinBowling.Common/obj
